@model CloudBust.Dashboard.ViewModels.ApplicationViewModel
@{
    string[] aPage = {string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty};
    string[] bPage = {string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty};
    var baseUrl = Model.HostUrl.TrimEnd('/');
    string[] aUrl =
    {
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey, 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/keys", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/fb", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/gc", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/appstore", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/smtp", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/testmail", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/userroles", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/users", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/ast", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/ast/categories", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/datatables", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/senseapi", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/senseapi/games", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/senseapi/users", 
        baseUrl + "/dashboard/applications/" + Model.Application.AppKey + "/blogs"
    };
    string[] aTitle = {"App Information", "App Tokens", "Facebook Token", "Bundle Identifier", "App Store", "SMTP Settings", "Test Mail", "User Roles", "Registered Users", "Application Settings Table", "Settings Categories", "Data Tables", "Dashboard", "Games", "User Data", "Blogs Settings"};
    string[] aCategory = {"Settings", "Settings", "Facebook", "Apple", "Apple", "Mail", "Mail", "Security", "Security", "Data", "Data", "Data", "Senseapi", "Senseapi", "Senseapi", "Social"};


    aPage[Model.Page] = "active";
    bPage[Model.Page] = "current";
}


<div class="dashboardarea">
    <ul class="breadcrumbs hide-for-small">
        <li>
            <a href="~/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="~/dashboard/applications">Applications</a>
        </li>
        <li class="@bPage[0]">
            <a href="@aUrl[0]">@Model.Application.Name</a>
        </li>
        <li class="current">
            <a href="#">@aCategory[Model.Page]</a>
        </li>
        <li class="@bPage[Model.Page]">
            <a href="@aUrl[Model.Page]">@aTitle[Model.Page]</a>
        </li>
    </ul>
    <div class="row">
        <div class="large-3 medium-4 columns">
            <div class="hide-for-small">
                <div class="sidebar">
                    <h1 class="header-app subhead">
                        @Model.Application.Name
                        <div>
                            <small>@Model.Application.Description</small>
                        </div>
                    </h1>

                    <nav>
                        <ul class="side-nav">
                            <li class="heading">Settings</li>
                            <li class="@aPage[0]">
                                <a href="@aUrl[0]">@aTitle[0]</a>
                            </li>
                            <li class="@aPage[1]">
                                <a href="@aUrl[1]">@aTitle[1]</a>
                            </li>
                            <li class="divider"></li>
                            <li class="heading">Facebook</li>
                            <li class="@aPage[2]">
                                <a href="@aUrl[2]">@aTitle[2]</a>
                            </li>
                            <li class="divider"></li>
                            <li class="heading">Apple</li>
                            <li class="@aPage[3]">
                                <a href="@aUrl[3]">@aTitle[3]</a>
                            </li>
                            <li class="@aPage[4]">
                                <a href="@aUrl[4]">@aTitle[4]</a>
                            </li>
                            <li class="divider"></li>
                            <li class="heading">Mail</li>
                            <li class="@aPage[5]">
                                <a href="@aUrl[5]">@aTitle[5]</a>
                            </li>
                            <li class="@aPage[6]">
                                <a href="@aUrl[6]">@aTitle[6]</a>
                            </li>
                            <li class="divider"></li>
                            <li class="heading">Security</li>
                            <li class="@aPage[7]">
                                <a href="@aUrl[7]">@aTitle[7]</a>
                            </li>
                            <li class="@aPage[8]">
                                <a href="@aUrl[8]">@aTitle[8]</a>
                            </li>
                            <li class="divider"></li>
                            <li class="heading">Data</li>
                            <li class="@aPage[9]">
                                <a href="@aUrl[9]">@aTitle[9]</a>
                            </li>
                            <li class="@aPage[10]">
                                <a href="@aUrl[10]">@aTitle[10]</a>
                            </li>
                            <li class="@aPage[11]">
                                <a href="@aUrl[11]">@aTitle[11]</a>
                            </li>
                            <li class="divider"></li>
                            <li class="heading">Senseapi ®</li>
                            <li class="@aPage[12]">
                                <a href="@aUrl[12]">@aTitle[12]</a>
                            </li>
                            <li class="@aPage[13]">
                                <a href="@aUrl[13]">@aTitle[13]</a>
                            </li>
                            <li class="@aPage[14]">
                                <a href="@aUrl[14]">@aTitle[14]</a>
                            </li>
                            <li class="divider"></li>
                            <li class="heading">Social</li>
                            <li class="@aPage[15]">
                                <a href="@aUrl[15]">@aTitle[15]</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </nav>


                </div>
            </div>
        </div>

        @{ Html.RenderPartial("Dashboard_PageTitle"); }
    </div>
</div>