@using CloudBust.Dashboard
@using Orchard.Users.Models
@using Orchard.Security

@model CloudBust.Dashboard.ViewModels.DataTablesViewModel
@{
    int rowcounter = 0;
    string zebra = string.Empty;
}
       
<div class="dashboardarea">
    <div id="cbframecontent">
        <div class="row bump-25">
            <h1 class="header-games subhead">

                Add a Table
                <div><small>Select an existing Table to add in @Model.Application.Name</small></div>
            </h1>
        </div>
        <div class="row bump-15 tableheader">
            <div class="text-left small-6 medium-3 columns">Table</div>
            <div class="text-left  medium-3 hide-for-small-only columns">Created</div>
            <div class="text-left  medium-3 hide-for-small-only columns">Modified</div>
            <div class="text-left  medium-3 hide-for-small-only columns">Actions</div>
        </div>


        @foreach (var row in Model.DataTables)
        {
            rowcounter = rowcounter + 1;
            zebra = "zebra-" + rowcounter % 2;
            var request = Url.Content("~") + "dashboard/datatables/" + row.Id;

            <div class="row app @zebra" data-url="@request">
                <div class="text-left small-6 medium-3 columns">
                    <h2 class="subhead" style="margin-bottom:0">
                        @row.Name<br><small>@row.Description</small>
                    </h2>
                </div>
                <div class="small-6 show-for-small-only columns"><a href="#" class="button tiny">Select</a></div>
                <div class="gridcell text-left hide-for-small-only medium-3 columns">@row.CreatedUtc</div>
                <div class="gridcell text-left hide-for-small-only medium-3 columns">@row.ModifiedUtc</div>
                <div class="gridcell text-left hide-for-small-only medium-3 small-12 columns">
                    <a href="~/dashboard/applications/@Model.Application.AppKey/datatables/@row.Id/add" class="tiny button">Select</a>
                </div>            
            </div>
        }
        <div class="row collapse bump-25">
                <p class="columns">
                    You can also create a new Table to add in your  CloudBust application
                </p>
        </div>
        <div class="row collapse">
            <div class="large-12 columns">
                <a id="childcbframecaller" class="button" href="~/dashboard/datatables/create?appID=@Model.Application.AppKey"><i class="fi-plus"></i>  Create new Table</a>
                <a href="~/dashboard/applications/@Model.Application.AppKey/datatables" class="secondary button">Cancel</a>
            </div>
        </div>
        <div class="bump-25">
        </div>
        <div class="row collapse">
            <div class="large-12 columns">
                <div id="childcbframe"></div>        
            </div>
        </div>
    </div>
</div>