@using CloudBust.Application.Models
@model CloudBust.Dashboard.ViewModels.GameViewModel
@{
    var baseUrl = Model.HostUrl.TrimEnd('/');
    var deleteurl = baseUrl + "/dashboard/applications/" + Model.Game.AppKey + "/delete";
    var reseturl = baseUrl + "/dashboard/applications/" + Model.Game.AppKey + "/reset";
    string[] aPage = {string.Empty, string.Empty, string.Empty};
    string[] bPage = {string.Empty, string.Empty, string.Empty};
    string[] aUrl = {
        baseUrl + "/dashboard/games/" + Model.Game.AppKey,
        baseUrl + "/dashboard/games/" + Model.Game.AppKey + "/keys",
        baseUrl + "/dashboard/games/" + Model.Game.AppKey + "/events"
    };
    var createUrl = baseUrl + "/dashboard/games/" + Model.Game.AppKey + "/events/create";

    string[] aTitle = {
        "Game Information",
        "Game Tokens",
        "Events"
    };
    string[] aCategory = {
        "Settings",
        "Settings",
        "Senseapi"
    };
    aPage[Model.Page] = "active";
    bPage[Model.Page] = "current";
}
<div class="dashboardarea">
<ul class="breadcrumbs hide-for-small">
    <li>
        <a href="~/dashboard">Dashboard</a>
    </li>
    <li>
        <a href="~/dashboard/games">Games</a>
    </li>
    <li class="@bPage[0]">
        <a href="@aUrl[0]">@Model.Game.Name</a>
    </li>
    <li class="current">
        <a href="#">@aCategory[Model.Page]</a>
    </li>
    <li class="@bPage[Model.Page]">
        <a href="@aUrl[Model.Page]">@aTitle[Model.Page]</a>
    </li>
</ul>
<div class="row">
<div class="large-3 medium-4 columns">
    <div class="hide-for-small">
        <div class="sidebar">
            <h1 class="header-app subhead">
                @Model.Game.Name
                <div>
                    <small>@Model.Game.Description</small>
                </div>
            </h1>

            <nav>
                <ul class="side-nav">
                    <li class="heading">Settings</li>
                    <li class="@aPage[0]">
                        <a href="@aUrl[0]">@aTitle[0]</a>
                    </li>
                    <li class="@aPage[1]">
                        <a href="@aUrl[1]">@aTitle[1]</a>
                    </li>
                    <li class="divider"></li>
                    <li class="heading">Senseapi ®</li>
                    <li class="@aPage[2]">
                        <a href="@aUrl[2]">@aTitle[2]</a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
</div>

@if (Model.Page == 0) {
    <div class="large-9 medium-8 columns bump-25">
        <h1 class="subhead">
            Information
            <div>
                <small>Basic settings to have a senseapi Game up and running</small>
            </div>
        </h1>

        <hr/>

        @using (Html.BeginFormAntiForgeryPost()) {
            <div class="row">
                <div class="large-12 columns">
                    <label for="Name">
                        Name
                        @Html.TextBoxFor(m => m.Game.Name, new {})
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="Description">
                        Description
                        @Html.TextBoxFor(m => m.Game.Description, new {})                        
                    </label>
                </div>
            </div>

            <div class="row pamp-15">
                <div class="large-12 columns">
                    <h2 class="subhead">
                        Integrate Game Location
                        <div>
                            <small>Set your game location, in case you want to start a specific game depending on location.</small>
                        </div>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="Latitude">
                        Latitude
                        @Html.TextBoxFor(m => m.Game.Latitude, new {})                       
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="Longitude">
                        Longitude
                        @Html.TextBoxFor(m => m.Game.Longitude, new {})                       
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <button class="" type="submit" name="submit.Save" value="Save">Save</button>
                </div>
            </div>
        }

        <hr/>

        <div class="row">
            <div class="large-12 columns">
                <div class="alert alert-message block-message">
                    <h5>Remove Game</h5>
                    <div class="row">
                        <div class="large-7 medium-8 small-9 columns">
                            <span class="label warning">Warning</span> Removing this game will remove all associated tokens <em class="red">completely</em>! There is no way to undo this, so proceed with caution.
                        </div>

                        <div class="large-5 medium-4 small-3 text-center columns">
                            <a href="@deleteurl" class="primary btn delete wide pull-right small">Remove Game</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bump-25"></div>

    </div>
}
@if (Model.Page == 1) {
    <div class="large-9 medium-8 columns bump-25">
        <h1 class="subhead">
            Senseapi framework Tokens
            <div>
                <small>Everything you need to know about integrating the Senseapi framework in your CloudBust application.</small>
            </div>
        </h1>
        <hr/>

        <div class="row">
            <div class="large-12 columns">
                <h2 class="subhead">
                    Integrate Game Token
                    <div>
                        <small>Here are your game tokens. Download the Framework, create a CloudBust application and launch your Senseapi game with these tokens.</small>
                    </div>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2 class="subhead">
                    Game Owner
                    <div>
                        <small>The developer of the Game application.</small>
                    </div>
                </h2>
            </div>
        </div>

        <div class="row bump-15">
            <div class="large-3 columns">
                <label for="AppKey">
                    Game ID
                    <input id="AppKey" name="AppKey" type="text" placeholder="Application Key" value="@Model.Game.AppKey" readonly="readonly"/>
                </label>
            </div>
            <div class="large-4 columns">
                <label for="AppSecret">
                    Client Key
                    <input id="AppSecret" name="AppSecret" type="text" placeholder="Application Secret" value="@Model.Game.AppSecret" readonly="readonly"/>
                </label>
            </div>
            <div class="large-5 columns">
                <label for="Owner">
                    Owner
                    <input id="Owner" name="Owner" type="text" placeholder="Application Owner" value="@Model.Game.Owner" readonly="readonly"/>
                </label>
            </div>
            <div class="large-5 columns"></div>
        </div>

        <hr/>
        <div class="row">
            <div class="large-12 columns">
                <div class="alert-message block-message">
                    <h5>Reset Tokens</h5>
                    <div class="row">
                        <div class="large-7 medium-8 small-9 columns">
                            <span class="label warning">Warning</span> When you reset your game tokens, any client using these tokens <em class="red">will not be able to launch your gane</em>! There is no way to undo this, so proceed with caution.
                        </div>
                        <div class="large-5 medium-4 small-3 text-center columns">
                            <a href="@reseturl" class="primary btn reset wide pull-right small">Reset Tokens</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bump-25"></div>
    </div>
}
@if (Model.Page == 2) {
    <div class="large-9 medium-8 columns bump-25">
        <h1 class="subhead">
            Senseapi / Game Events
            <div>
                <small>Define your game's Events.</small>
            </div>
        </h1>
        <hr/>
        <div class="row">
            <div class="large-12 columns">
                <h2 class="subhead">
                    Business Processes
                    <div>
                        <small>
                            Define all the events of your Game and Senseapi will handle all calculations and calibrations.<br/>
                            These events are grouped as business processes and you have to call them for a specific stimulae and object.
                        </small>
                    </div>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <table>
                    <thead>
                    <tr>
                        <th width="50">&nbsp;</th>
                        @*<th width="50">Process</th>*@
                        <th width="150">Name</th>
                        <th width="300">Description</th>
                        <th width="100">Type</th>
                        <th width="180">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var role in Model.Events) {
                        <tr>
                            <td>
                                @if (role.BusinessProcess > 1) {
                                    <a href="~/dashboard/games/@Model.Game.AppKey/events/@role.Id/moveup" class="fi-arrow-up"></a>
                                }

                                @if (role.BusinessProcess < Model.Events.Count()) {
                                    <a href="~/dashboard/games/@Model.Game.AppKey/events/@role.Id/movedown" class="fi-arrow-down"></a>
                                }
                            </td>
                            @*<td>
                                                                @role.BusinessProcess
                                                            </td>*@
                            <td>
                                @role.Name
                            </td>
                            <td>
                                @role.Description
                            </td>
                            <td>
                                @(((GameEventType) role.GameEventType).ToEventString())
                            </td>
                            <td>
                                <a href="~/dashboard/games/@Model.Game.AppKey/events/@role.Id/edit" class="tiny button">Edit</a>
                                <a href="~/dashboard/games/@Model.Game.AppKey/events/@role.Id/delete" class="tiny button alert">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <a class="button" href="@createUrl"><i class="fi-plus"></i> Add an Event</a>
            </div>
        </div>
        <div class="row bump-25"></div>
    </div>
}
</div>
</div>

@using (Script.Foot()) {
    <script type="text/javascript">
        $(function() {
        });
    </script>
}