@using CloudBust.Dashboard
@using Orchard.Users.Models
@using Orchard.Security

@model CloudBust.Dashboard.ViewModels.DashboardViewModel
@{
    var user = Model.User;
   
    string firstName;
    var lastName = string.Empty;

    dynamic d = user;
    if (d.UserProfilePart != null)
    {
        firstName = d.UserProfilePart.FirstName;
        lastName = d.UserProfilePart.LastName;
    }
    else
    {
        firstName = user.UserName;
    }
    if(string.IsNullOrWhiteSpace(firstName) && string.IsNullOrWhiteSpace(lastName)){
        firstName = user.UserName;
    }
    var welcome = firstName + (string.IsNullOrWhiteSpace(lastName) ? "" : " ") + lastName + " Dashboard";
    var baseUrl = Model.HostUrl.TrimEnd('/');
    
 }
<div class="dashboardarea">


    <div class="row" >
        <div class="large-12 columns">
            <h1 class="light smaller bump-25 bottom-add">@welcome</h1>
            <hr />
        </div>
    </div>
    <div class="row" data-equalizer>
        <div class="large-4 columns">
            <div class="shadowboxpanel">
                <div class="box text-center">
                    <h2>
                        <a href="@(baseUrl + "/dashboard/applications/create")">Add an App</a>
                    </h2>
                    <p style="min-height:36px;">Start your CloudBust experience. Add an application and get your app token.</p>
                    <a class="btn primary large wide" href="@(baseUrl + "/dashboard/applications/create")"><i class="fi-plus"></i>  Add an App</a>
                </div>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="shadowboxpanel">
                <div class="box text-center">
                    <h2>
                        <a href="@(baseUrl + "/dashboard/games/create")">Add a Senseapi Game</a>
                    </h2>
                    <p style="min-height:36px;">Time to create Gaming procedures inside your game and take advantage of senseapi's mechanics and calculations.</p>
                    <a class="btn primary large wide" href="@(baseUrl + "/dashboard/games/create")"><i class="fi-plus"></i>  Add a Game</a>
                </div>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="shadowboxpanel">
                <div class="box text-center">
                    <h2>
                        <a href="@(baseUrl + "/dashboard/datatables/create")">Add a Data Table</a>
                    </h2>
                    <p style="min-height:36px;">You need to store data for your application? Create a new data table.</p>
                    <a class="btn primary large wide" href="@(baseUrl + "/dashboard/datatables/create")"><i class="fi-plus"></i>  Add a Table</a>
                </div>
            </div>
        </div>
    </div>

</div>