@using CloudBust.Dashboard
@using Orchard.Users.Models
@using Orchard.Security

@model CloudBust.Dashboard.ViewModels.ScoresViewModel
@{
    int rowcounter = 0;
    string zebra = string.Empty;

    string[] a_page = { string.Empty, string.Empty };

    string[] a_url = { 
                         Url.Content("~") + "dashboard/applications/" + Model.Application.AppKey, 
                         Url.Content("~") + "dashboard/applications/" + Model.Application.AppKey + "/senseapi/users",
                         Url.Content("~") + "dashboard/applications/" + Model.Application.AppKey + "/senseapi/users/" + Model.UserName + "/" + Model.Game.AppKey + "/",
                     };
}
       
<div class="dashboardarea">
    <ul class="breadcrumbs hide-for-small">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/dashboard/applications">Applications</a></li>
        <li><a href="@a_url[0]">@Model.Application.Name</a></li>
        <li class="current"><a href="#">Senseapi</a></li>
        <li><a href="@a_url[1]">User Data</a></li>
        <li class="current"><a href="@a_url[2]">@Model.UserName</a></li>
    </ul>
    <div class="printarea">
        <div class="row bump-25">
            <h1 class="header-games subhead">
                @Model.Game.Name Scores
                <div><small>Score results for @Model.UserName</small></div>
            </h1>
        </div>
        <div class="row bump-15 header">
            <div class="text-left small-12 large-1 medium-1 columns">Timestamp</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Agility</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Agility Score</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Stability</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Stability Score</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Smoothness</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Smoothness Score</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Accuracy</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Attention</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Spatial</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Executive</div>
            <div class="text-left large-1 medium-1 hide-for-small-only columns">Final Score</div>
        </div>

        @foreach (var row in Model.Scores)
        {
            rowcounter = rowcounter + 1;
            zebra = "zebra-" + rowcounter % 2;
            var request = "#";//Url.Content("~") + "dashboard/games/" + row.AppKey;

            <div class="row app @zebra" data-url="@request">
                <div class="text-left small-12 large-1 medium-1 columns">@row.EndDate</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.Agility</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.AgilityScore</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.Stability</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.StabilityScore</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.Smoothness</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.SmoothnessScore</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.AccuracyScore</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.Attention</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.Spatial</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.Executive</div>
                <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.Score</div>
            </div>
        }
        <div class="row bump-25">
            <div>Score results requested by @Model.User.UserName</div>
        </div>
    </div>
    <div class="bump-60"></div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $( ".row.app" ).click(function() {
            window.location = $(this).data('url');
        });
    </script>
}