@using CloudBust.Dashboard
@using Orchard.Users.Models
@using Orchard.Security

@model CloudBust.Dashboard.ViewModels.GamesViewModel
@{
    int rowcounter = 0;
    string zebra = string.Empty;
}
       
<div class="dashboardarea">
    @*<ul class="breadcrumbs hide-for-small">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="current"><a href="#">Games</a></li>
    </ul>*@
    <div class="row bump-25">
        <h1 class="header-games subhead">

            Add a Game
            <div><small>Select an existing Senseapi Game to add in @Model.Application.Name</small></div>
        </h1>
    </div>
    <div class="row bump-15 header">
        <div class="text-left small-6 large-3 medium-3 columns">Game</div>
        <div class="text-left large-1 medium-1 hide-for-small-only columns">Created</div>
        <div class="text-left large-1 medium-1 hide-for-small-only columns">Modified</div>
        <div class="text-left large-1 medium-1 hide-for-small-only columns">Actions</div>
        <div class="text-left large-1 medium-1 hide-for-small-only columns"></div>
    </div>


    @foreach (var row in Model.Games)
    {
        rowcounter = rowcounter + 1;
        zebra = "zebra-" + rowcounter % 2;
        var request = Url.Content("~") + "dashboard/games/" + row.AppKey;

        <div class="row app @zebra" data-url="@request">
            <div class="text-left small-6 large-3 medium-3 columns">
                <h2 class="subhead" style="margin-bottom:0">
                    @row.Name<br><small>@row.Description</small>
                </h2>
            </div>
            <div class="small-6 show-for-small-only columns"><a href="#" class="button tiny">Select</a></div>
            <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.CreatedUtc</div>
            <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns">@row.ModifiedUtc</div>
            <div class="gridcell text-left large-1 hide-for-small-only medium-1 small-12 columns">
                <a href="~/dashboard/applications/@Model.Application.AppKey/senseapi/games/@row.AppKey/add" class="tiny button">Select</a>
            </div>            
            <div class="gridcell text-left large-1 hide-for-small-only medium-1 columns"></div>           
        </div>
    }
    <div class="row bump-25">
        <div class="large-12 columns">
            <p>
                You can also create a new Game to add in your  CloudBust application
            </p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <a class="button" href="~/dashboard/games/create?appID=@Model.Application.AppKey"><i class="fi-plus"></i>  Create new Game</a>
            <a href="~/dashboard/applications/@Model.Application.AppKey/senseapi/games" class="secondary button">Cancel</a>
        </div>
    </div>
    <div class="bump-60"></div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $( ".row.app" ).click(function() {
            window.location = $(this).data('url');
        });
    </script>

}