@using CloudBust.Dashboard
@using Orchard.Users.Models
@using Orchard.Security
@using CloudBust.Application.Models

@model CloudBust.Dashboard.ViewModels.TableViewModel
@{
    string[] a_page = { string.Empty, string.Empty, string.Empty };
    string[] b_page = { string.Empty, string.Empty, string.Empty };
    string[] a_url = {
                 Url.Content("~") + "dashboard/datatables/" + Model.DataTable.Id,
                 Url.Content("~") + "dashboard/datatables/" + Model.DataTable.Id + "/fields",
                 Url.Content("~") + "dashboard/datatables/" + Model.DataTable.Id + "/rows",
             };

    string[] a_title = {
                   "Table Information",
                   "Fields",
                   "Rows",
               };
    string[] a_category = {
                   "Settings",
                   "Settings",
                   "Data",
               };


    a_page[Model.Page] = "active";
    b_page[Model.Page] = "current";
}

<div class="dashboardarea">
    <ul class="breadcrumbs hide-for-small">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/dashboard/datatables">Tables</a></li>
        <li class="@b_page[0]"><a href="@a_url[0]">@Model.DataTable.Name</a></li>
        <li class="current"><a href="#">@a_category[Model.Page]</a></li>
        <li class="@b_page[Model.Page]"><a href="@a_url[Model.Page]">@a_title[Model.Page]</a></li>
    </ul>
    <div class="row">
        <div class="large-3 medium-4 columns">
            <div class="hide-for-small">
                <div class="sidebar">
                    <h1 class="header-app subhead">
                        @Model.DataTable.Name
                        <div><small>@Model.DataTable.Description</small></div>
                    </h1>

                    <nav>
                        <ul class="side-nav">
                            <li class="heading">Settings</li>
                            <li class="@a_page[0]"><a href="@a_url[0]">@a_title[0]</a></li>
                            <li class="@a_page[1]"><a href="@a_url[1]">@a_title[1]</a></li>

                            <li class="heading">Data</li>
                            <li class="@a_page[2]"><a href="@a_url[2]">@a_title[2]</a></li>


                            <li class="divider"></li>
                            <li class="heading">Applications</li>
                            @foreach (var app in Model.Applications)
                            {
                                <li><a href="@(Url.Content("~") + "dashboard/applications/" + app.AppKey + "/datatables")">@app.Name</a></li>
                            }
                        </ul>
                    </nav>


                </div>
            </div>
        </div>

        @if (Model.Page == 0)
        {
            Html.RenderPartial("Table_Page_Settings");
        }

        @if (Model.Page == 1)
        {
            Html.RenderPartial("Table_Page_Fields");
        }
        @if (Model.Page == 2)
        {
            Html.RenderPartial("Table_Page_Rows");
        }
    </div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
    $(function () {
        $(".maincbframecaller").click(function (e) {
            e.preventDefault();
            var addressValue = $(this).attr("href");
            $('#maincbframe').load(addressValue + ' #cbframecontent', function () {
                $("#childcbframecaller").click(function (e) {
                    e.preventDefault();
                    var addressValue = $(this).attr("href");
                    $('#childcbframe').load(addressValue + ' #cbframecontent');
                });
                $('form').submit(function (e) {
                    var form = this;

                    //e.preventDefault();

                    var fields = new Object();
                    $("[data-field]").each(function (index) {
                        var varName = $(this).data('field');
                        if ($(this).is(':checkbox'))
                            fields[varName] = $(this).is(':checked');
                        else
                            fields[varName] = $(this).val();
                    });
                    var myString = JSON.stringify(fields);
                    $('#jsonResults').val(myString);

                    //$(form).unbind('submit').submit();
                });
            });
        });


    });
    </script>
}