@using CloudBust.Dashboard
@using Orchard.Users.Models
@using Orchard.Security

@model CloudBust.Dashboard.ViewModels.UserRoleEditViewModel
@{
    var idchecked = Model.IsDefault;
    var checkedid = idchecked ? "checked" : "";
    var baseUrl = Model.HostUrl.TrimEnd('/');
}

<div class="dashboardarea">
    <div class="row bump-25">
        <h1 class="header-role subhead">


            Edit User Role
            <div><small>Edit User Role for @Model.ApplicationName application</small></div>
        </h1>
        <hr />
    </div>
    @using (Html.BeginFormAntiForgeryPost())
    {
        <div class="row">
            <div class="large-3 medium-5 columns">
                <label for="Name">
                    Name
                    <input id="Name" name="Name" type="text" placeholder="enter user role name" value="@Model.Name" />
                </label>
            </div>

        </div>
        <div class="row">
            <div class="large-12 columns">
                <label for="Description">
                    Description
                    <input id="Description" name="Description" type="text" placeholder="enter user role description" value="@Model.Description" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-2 medium-2 small-3 columns">
                <label>Default Role</label>
                <div class="switch">
                    <input id="isDefault" name="isDefault" type="checkbox" @checkedid value="@Model.IsDefault">
                    <label for="isDefault"></label>
                </div>
            </div>
            <div class="large-10 medium-10 small-9 columns">
            <div class="panel callout radius">
                <h5>information</h5>
                <div class="row">
                    <div class="large-12 columns">
                        All the users that register in your application for the first time are assigned to the default role. You can have only one default Role for every application.
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <a href="@(baseUrl + "/dashboard/applications/" + Model.AppKey + "/userroles/")" class="secondary button">Cancel</a>
                <button class="" type="submit" name="submit.Save" value="Save">Save</button>
            </div>
        </div>
    }

</div>

@using(Script.Foot()){
    <script type="text/javascript">
        $(function () {
        });
    </Script>
}