@model CloudBust.Subscribers.ViewModels.SubscribersIndexViewModel
@{
    var errorMessage = ViewData.ModelState.Values.SelectMany(modelState => modelState.Errors).Aggregate(string.Empty, (current, error) => current + "::" + error.ErrorMessage.ToString());
    TempData["ErrorMessage"] = errorMessage;

    Layout.Title = T("Subscribers").ToString();
}
<header>
    <h1 class="docs-page-title">Subscribers</h1>
    <p class="docs-description lead">View/Edit available subscribers. Define New Subscribers</p>
</header>

@if (Model.Subscribers == null || !Model.Subscribers.Any())
{
<div class="small-12 columns">
    <p>@T("There are no subscribers in the database.")</p>
</div>
}
else
{
<div class="small-12 columns">
    <table class="hover stack">
        <thead>
            <tr>
                <th width="250">Email</th>
                <th width="300">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var subscriberRecord in Model.Subscribers)
        {
            <tr>
                <td class="namefield">
                    @subscriberRecord.Email
                </td>
                <td>
                    <div class="form-inline">
                        <a href="@Url.Action("Edit", "Admin", new { id=subscriberRecord.Id })" class="tiny button">Edit</a>
                    </div>
                    @using (Html.BeginFormAntiForgeryPost(Url.Action("Delete", "Admin", new { id = subscriberRecord.Id }), FormMethod.Post, new { @class = "form-inline", data_action="delete" }))
                    {
                        <button type="submit" class="tiny button alert">@T("Delete")</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
}
<div class="small-12 columns">
    @Html.ActionLink(T("Add a Subscriber").ToString(), "Add", new { controller = "Admin" }, new { @class = "button" })
</div>
