@model FeaturedHeadPart
@using CloudBust.Foundation.Models;

<fieldset>
    <legend>@T("Default Settings, Mobile First")</legend>
    <div>
        @Html.LabelFor(m => m.ForegroundColor, T("Foreground Color"))
        @Html.TextBoxFor(m => m.ForegroundColor, new { @class = "textSmall" })
        <span class="hint">@T("Enter the default foreground color")</span>

        @Html.LabelFor(m => m.BackgroundColor, T("Background Color"))
        @Html.TextBoxFor(m => m.BackgroundColor, new { @class = "textSmall" })
        <span class="hint">@T("Enter the default background color")</span>

        @Html.LabelFor(m => m.BackgroundImage, T("Background Image"))
        @Html.TextBoxFor(m => m.BackgroundImage, new { @class = "text large" })
        <span class="hint">@T("Enter the url of the default background image")</span>
    </div>

    <legend>@T("Medium Devices (most Tablets)")</legend>
    <div>
        @Html.LabelFor(m => m.ForegroundColorMedium, T("Foreground Color"))
        @Html.TextBoxFor(m => m.ForegroundColorMedium, new { @class = "textSmall" })
        <span class="hint">@T("Enter the foreground color for medium devices")</span>

        @Html.LabelFor(m => m.BackgroundColorMedium, T("Background Color"))
        @Html.TextBoxFor(m => m.BackgroundColorMedium, new { @class = "textSmall" })
        <span class="hint">@T("Enter the background color for small devices")</span>

        @Html.LabelFor(m => m.BackgroundImageMedium, T("Background Image"))
        @Html.TextBoxFor(m => m.BackgroundImageMedium, new { @class = "text large" })
        <span class="hint">@T("Enter the url of the background image for medium devices")</span>
    </div>

    <legend>@T("Large Devices")</legend>
    <div>
        @Html.LabelFor(m => m.ForegroundColorLarge, T("Foreground Color"))
        @Html.TextBoxFor(m => m.ForegroundColorLarge, new { @class = "textSmall" })
        <span class="hint">@T("Enter the foreground color for large devices")</span>
        
        @Html.LabelFor(m => m.BackgroundColorLarge, T("Background Color"))
        @Html.TextBoxFor(m => m.BackgroundColorLarge, new { @class = "textSmall" })
        <span class="hint">@T("Enter the background color for large devices")</span>

        @Html.LabelFor(m => m.BackgroundImageLarge, T("Background Image"))
        @Html.TextBoxFor(m => m.BackgroundImageLarge, new { @class = "text large" })
        <span class="hint">@T("Enter the url of the background image for large devices")</span>
    </div>
</fieldset>