@using System.Text.RegularExpressions
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item row");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);
    var tag = Tag(Model, "article");
    dynamic colorval = Model.ContentItem.BlogPost.Color.Value;
    SetMeta("og:title", Html.ItemDisplayText((IContent)Model.ContentItem).ToString());
    SetMeta("og:type", "article");
    SetMeta("twitter:card", "summary");
}
@tag.StartElement

<header>
    @Display(Model.Header)
    @if (Model.Meta != null) {
        <div class="metadata">
            @Display(Model.Meta)
        </div>
    }
</header>
@Display(Model.Content)
@if(Model.Footer != null) {
    <footer>
        @Display(Model.Footer)
    </footer>
}

@tag.EndElement
<style>
    .site-hero {
        background-color: @colorval!important;
    }
    article.blog-post p.taxonomy-field, article.blog-post div.details p.taxonomy-field {
        background: @colorval!important;
    }
</style>