@using Orchard.Localization
@using Orchard.Mvc.Html;
@using Orchard.ContentManagement;
@{
    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
    bool isRtl = WorkContext.CurrentCultureInfo().TextInfo.IsRightToLeft;
    Html.AddPageClassNames("dir-" + (isRtl ? "rtl" : "ltr"));
}
<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage()" dir="@(isRtl?"rtl":"ltr")">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>@Html.Title(title, siteName)</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton|Raleway:400,800" rel="stylesheet">
    @Display(Model.Head)
    <link href="~/themes/foundation/styles/site.css" rel="stylesheet" type="text/css">
    <link href="~/themes/foundation/styles/blogs.css" rel="stylesheet" type="text/css">
    <link href="~/themes/foundation/styles/pages.css" rel="stylesheet" type="text/css">
    <script>(function(d){d.className="dyn"+d.className.substring(6,d.className.length);})(document.documentElement);</script>
    <script>window.isRTL = @(isRtl.ToString().ToLowerInvariant());</script>
</head>
<body>
    @Display(Model.Body)
    @Display(Model.Tail)
    <script>
        $(document).foundation();
    </script>
</body>
</html>