@using System.Globalization
@using CloudBust.Application.Models
@using Orchard.Localization
@using Orchard.Mvc.Html;
@using Orchard.ContentManagement;
@{
    CultureInfo cultureInfo;
    bool isRtl;
    try {
        cultureInfo = WorkContext.CurrentCultureInfo();
        isRtl = WorkContext.CurrentCultureInfo().TextInfo.IsRightToLeft;
    }
    catch{
        cultureInfo = CultureInfo.InstalledUICulture;
        isRtl = false;
    }
    string title = Convert.ToString(Model.Title);
    var siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
    Html.AddPageClassNames("dir-" + (isRtl ? "rtl" : "ltr"));
    var appSetings = WorkContext.CurrentSite.As<ApplicationSettingsPart>();
    var webapp = appSetings == null ? string.Empty : appSetings.ApplicationKey;
}
<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" 
      class="@Html.ClassForPage()" 
      app="@webapp"
      dir="@(isRtl?"rtl":"ltr")"
      data-errormessage="@TempData["ErrorMessage"]"
      data-cds="@cultureInfo.NumberFormat.CurrencyDecimalSeparator"
      data-cts="@cultureInfo.NumberFormat.CurrencyGroupSeparator">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>@Html.Title(title, siteName)</title>
    <link rel="stylesheet" href="https://use.typekit.net/bax4iyy.css">
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    @Display(Model.Head)
    <link href="~/themes/foundation/styles/site.css?20190119.2" rel="stylesheet" type="text/css">
    <link href="~/themes/foundation/styles/blogs.css?20190119.2" rel="stylesheet" type="text/css">
    <link href="~/themes/foundation/styles/pages.css?20190119.2" rel="stylesheet" type="text/css">
    <script>(function(d){d.className="dyn"+d.className.substring(6,d.className.length);})(document.documentElement);</script>
    <script>window.isRTL = @(isRtl.ToString().ToLowerInvariant());</script>
</head>
<body class="body-bg-color">
@Display(Model.Body)
@Display(Model.Tail)
<script>
    $(document).foundation();
</script>
</body>
</html>