@model CloudBust.ContactForm.ViewModels.ContactFormsAddViewModel
@{
    var errorMessage = ViewData.ModelState.Values.SelectMany(modelState => modelState.Errors).Aggregate(string.Empty, (current, error) => current + "::" + error.ErrorMessage.ToString());
    TempData["ErrorMessage"] = errorMessage;

    Layout.Title = T("New Contact form").ToString();
}
<header>
    <h1 class="docs-page-title">Add a new Contact form</h1>
</header>

@using (Html.BeginFormAntiForgeryPost(Url.Action("Add", "Admin"), FormMethod.Post, new { data_abide = "", novalidate = "", autocomplete = "off" }))
{
    <div class="row expanded">
        <div class="small-12 medium-6 columns">
            @Html.TextBoxFor(m => m.Name, new { @class = "userinput", @placeholder = "set the name", autofocus = "autofocus" })
            <span class="floating-label">@T("Name")</span>
        </div>
    </div>
    <div class="row expanded">
        <div class="small-12 medium-6 columns">
                @Html.TextBoxFor(m => m.Email, new { @class = "userinput", @placeholder = "set the email" })
                <span class="floating-label">@T("Email")</span>
        </div>
    </div>
    <div class="row expanded">
        <div class="small-12 medium-6 columns">
            @Html.TextBoxFor(m => m.Company, new { @class = "userinput", @placeholder = "set the company" })
            <span class="floating-label">@T("Company")</span>
        </div>
    </div>
    <div class="row expanded">
        <div class="small-12 medium-6 columns">
            @Html.TextBoxFor(m => m.Note, new { @class = "userinput", @placeholder = "set the note" })
            <span class="floating-label">@T("Note")</span>
        </div>
    </div>

    <div class="row expanded">
        <div class="columns">
            <input type="submit" class="button" name="submit.Save" value="@T("Save")">
            <a href="@Url.Action("Index", "Admin")" class="button secondary">@T("Cancel")</a>
        </div>
    </div>
    <div class="row margin-bottom-2"></div>
}