@using Orchard.DisplayManagement.Shapes;
@{
    var list = Model.ContentItems;
    if (list == null) {
        list = Model;
    }
    if (list == null)
    {
        return;
    }
    var items = list.Items;
    var count = items.Count;
    var listTag = Tag(list, "ul");
    listTag.AddCssClass("content-items");
    listTag.AddCssClass("blog-posts");
    var index = 0;
    var firstItem = items;
    if (count > 0)
    {
        firstItem = items[0];
    }
    else {
        firstItem = null;
    }
}
<div class="blog-head row">
    @if (firstItem != null)
    {
        ShapeMetadata metadata = firstItem.Metadata;
        string alternate = metadata.Type + "_" +
                metadata.DisplayType + "__" +
                firstItem.ContentItem.ContentType +
                "_First";
        metadata.OnDisplaying(ctx =>
        {
            metadata.Alternates.Add(alternate);
        });
        @listTag.StartElement
        var itemTag = Tag(firstItem, "li");
        itemTag.AddCssClass("first blog-head");
        @itemTag.StartElement
        @Display(firstItem) 
        @itemTag.EndElement
        @listTag.EndElement
    }
</div>
<div class="blog-details row">
@if (items.Count > 1)
{
    <div class="columns">
        <span class="recent icon"></span>
        <span class="recent label">MOST RECENT ARTICLES</span>
    </div>
}
    <div class="columns">
        @listTag.StartElement
        @foreach (var item in items)
        {
            var itemTag = Tag(item, "li");
            itemTag.AddCssClass("medium-4");
            if (index == count - 1)
            {
                itemTag.AddCssClass("last");
            }
            if (index > 0)
            {
                @itemTag.StartElement
                @Display(item)
                @itemTag.EndElement
            }
            ++index;
        }
        @listTag.EndElement
    </div>
</div>

