@using Orchard.Recipes.Models;
@using Orchard.Setup.ViewModels;
@model Orchard.Setup.ViewModels.SetupViewModel
@{
    Script.Require("jQuery");
    Script.Require("ShapesBase");
    Script.Include("setup.js");
}
<h1>@Html.TitleForPage(T("Get Started").ToString())</h1>
<div class="col-lg-10 col-md-10 col-sm-9">
    @using (Html.BeginFormAntiForgeryPost(Url.Action("/index"), FormMethod.Post, new { @role = "form", @class = "bs-example form-horizontal" }))
    {
        @Html.ValidationSummary(string.Empty, new { @class = "bs-callout bs-callout-danger" })

        <div class="form-group">
            <label for="SiteName" class="col-lg-3 control-label">@T("What is the name of your site?")</label>
            <div class="col-lg-4">
                @Html.TextBoxFor(svm => svm.SiteName, new { autofocus = "autofocus", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="AdminUsername" class="col-lg-3 control-label">@T("Default user name for Administrator:")</label>
            <div class="col-lg-4">
                @Html.TextBoxFor(svm => svm.AdminUsername, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label for="AdminPassword" class="col-lg-3 control-label">@T("Choose a password:")</label>
            <div class="col-lg-4">
                @Html.PasswordFor(svm => svm.AdminPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmAdminPassword" class="col-lg-3 control-label">@T("Confirm the password:")</label>
            <div class="col-lg-4">
                @Html.PasswordFor(svm => svm.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>


        if (!Model.DatabaseIsPreconfigured)
        {
            <div class="highlight data">
                @Html.ValidationMessage("DatabaseOptions", "Unable to setup data storage")
                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-10">
                        <h4>@T("How would you like to store your data?")</h4>
                        <div class="radio">
                            @Html.RadioButtonFor(svm => svm.DatabaseProvider, SetupDatabaseType.Builtin.ToString(), new { id = "builtin" })
                            <label for="builtin" class="forcheckbox">@T("Use built-in data storage (SQL Server Compact) for testing and debug purposes")</label>
                        </div>
                        <div class="radio">
                            @Html.RadioButtonFor(svm => svm.DatabaseProvider, SetupDatabaseType.SqlServer.ToString(), new { id = "sqlserver" })
                            <label for="sqlserver" class="forcheckbox">@T("Use an existing SQL Server, SQL Express database, Windows Azure SQL Database")</label>
                        </div>
                    </div>
                </div>
                <div data-controllerid="builtin" data-defaultstate="hidden" class="form-group">
                    <label for="DatabaseConnectionString" class="col-lg-3 control-label">@T("Connection string:")</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(svm => svm.DatabaseConnectionString, new { @class = "form-control" })
                    </div>
                    <a class="bump-10 col-lg-offset-1 col-lg-10" href="~/setup/howto#sqlazure">read how to create an Azure SQL Database</a>
                </div>


            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-10">
                    @Html.CheckBoxFor(svm => svm.startAzure, new { @class = "form-control-auto" })
                    <label for="@Html.FieldIdFor(m => m.startAzure)" class="forcheckbox">@T("Initialize Windows Azure cloud service modules")</label>
                    <p><a class="bump-10 col-lg-10" href="~/setup/howto#mediaazure">read how to create an Azure Storage account for your media files</a></p>
                </div>
            </div>
            @Html.HiddenFor(svm => svm.Recipe)
        }

        <div id="throbber">
            <div class="curtain"></div>
            <div class="curtain-content">
                <div>
                    <h2 id="setUpHeader" style="padding-top:0!important;margin-top:-180px!important;">@T("Creating your CloudBust solution ...")</h2>
                    <p>
                        <img src="@Href("../../content/synchronizing.gif")" alt="" />
                    </p>
                </div>
            </div>
        </div>

        <button class="primaryAction setupButton btn btn-primary" type="submit">@T("Finish Setup")</button>

    }
</div>