@using Orchard.ContentManagement;
@using Orchard.Core.Title.Models;
@{
    Style.Include("featuredhead.css");
    Model.Metadata.Wrappers.Remove("Widget_Wrapper");
    var title = Model.ContentItem.WidgetPart.Title;
    var body = Model.ContentPart.Text;
}

@using (Script.Head()) {
<style type="text/css">
.site-hero {
    @if (!string.IsNullOrWhiteSpace(Model.ContentPart.BackgroundColor))
    {
        @Html.Raw("background-color: " + @Model.ContentPart.BackgroundColor + ";");
    }
    @if(!string.IsNullOrWhiteSpace(Model.ContentPart.BackgroundImage))
    {
        @Html.Raw("background-image: url(" + @Model.ContentPart.BackgroundImage + ");");
    }
}
.site-hero,
.site-hero h1,
.site-hero p,
.site-hero p.lead {
    @if(!string.IsNullOrWhiteSpace(Model.ContentPart.ForegroundColor))
    {
        @Html.Raw("color: " + @Model.ContentPart.ForegroundColor + ";");
    }
}

@@media only screen and (min-width: 40em) and (max-width: 63.9375em) {
    .site-hero {
        @if (!string.IsNullOrWhiteSpace(Model.ContentPart.BackgroundColorMedium))
        {
            @Html.Raw("background-color: " + @Model.ContentPart.BackgroundColorMedium + ";");
        }
        @if(!string.IsNullOrWhiteSpace(Model.ContentPart.BackgroundImageMedium))
        {
            @Html.Raw("background-image: url(" + @Model.ContentPart.BackgroundImageMedium + ");");
        }
    }
    .site-hero,
    .site-hero h1,
    .site-hero p,
    .site-hero p.lead {
        @if(!string.IsNullOrWhiteSpace(Model.ContentPart.ForegroundColorMedium))
        {
            @Html.Raw("color: " + @Model.ContentPart.ForegroundColorMedium + ";");
        }
    }
}

@@media only screen and (min-width: 64em){
    .site-hero {
        @if (!string.IsNullOrWhiteSpace(Model.ContentPart.BackgroundColorLarge))
        {
            @Html.Raw("background-color: " + @Model.ContentPart.BackgroundColorLarge + ";");
        }
        @if(!string.IsNullOrWhiteSpace(Model.ContentPart.BackgroundImageLarge))
        {
            @Html.Raw("background-image: url(" + @Model.ContentPart.BackgroundImageLarge + ");");
        }
    }
    .site-hero,
    .site-hero h1,
    .site-hero p,
    .site-hero p.lead {
        @if(!string.IsNullOrWhiteSpace(Model.ContentPart.ForegroundColorLarge))
        {
            @Html.Raw("color: " + @Model.ContentPart.ForegroundColorLarge + ";");
        }
    }
}
</style>
}

<div class="site-hero home-large-hero">
        <div class="row homepage">
            <div class="small-8 medium-5 medium-offset-1 large-offset-2 end columns">
                <h1 class="hero-main-header">@title</h1>
                @Html.Raw(body)
            </div>
        </div>
</div>
